body{
    background: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;


}

.keys{
   position: relative;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   min-width: 150px;
   font-weight: bold;
   box-shadow: 1px 1px 1px #dfdfdf;
   border: 1px solid black;
   padding: 20px;
   background-color: rgb(234, 233, 234);
}
.keys small{
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;

}